
.button {
    display: flex;
    justify-content: space-evenly;

    width: 80%;
    height: 40px;
    line-height: 40px;

    background-color: #eee7eb;

    border-radius: 5px;
    border: 1px solid lightgrey;

    font-size: 1.28rem;
    font-family: "Candara Light";
    font-weight: bolder;
}